# Ignore data files
data/cab_rides.csv
model/random_forest_model.pkl

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
env/

# Ignore files which are used for testing purpose only
actual2_pred2_features.csv
